{% extends "layouts/main_base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
		Test 
{% endblock %}

{% block content %}
	<h2>OAuth request - step 1</h2>
    <p>Grants RBH-MTD-API permission to interact with HMRC on your behalf</p> 
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.auth_id.label }}<br>
			{{ form.auth_id(size=32, value=auth_id) }}
		</p>

		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}