{% extends "layouts/main_base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
		Test 
{% endblock %}

{% block content %}
	<h2>
		OAuth tokens - step 4
	</h2>
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.access_token.label }}<br>
			{{ form.access_token(size=50, value=access_token['access_token']) }}<br>

			{{ form.token_type.label }}<br>
			{{ form.token_type(size=50, value=access_token['token_type']) }}<br>

            {{ form.expires_in.label }}<br>
			{{ form.expires_in(size=50, value=access_token['expires_in']) }}<br>

			{{ form.refresh_token.label }}<br>
			{{ form.refresh_token(size=50, value=access_token['refresh_token']) }}<br>
			
            

		</p>

		<p>{{ form.submit() }}</p>
	</form>

{% endblock %}