{% extends "layouts/new_base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
		Test Python Webbrowser
{% endblock %}

{% block content %}


<form class="form-inline" method="post" action="/" >
	<div class="form-row">
	<div class="custom-file">
		<input type="file" class="custom-file-input" id="customFile" name="filename">
		<label class="custom-file-label" for="customFile"></label>
	</div>
	<button type="submit" class="btn btn-primary mb-2">Upload</button>
	</div>
</form>

<div class="form-row col-md-6">
<div class="input-group">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile04">
    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
  </div>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Button</button>
  </div>
</div>
</div>

    <form action="" method="post">
		{{ form.hidden_tag() }}
		
		<p>{{ form.submit() }}</p>
	</form>

{% endblock %}