{% extends "layouts/main_base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block sidenav %}  
	  
{% endblock %}

{% block header %}
<div class="row">
    <div class="box green pull-left">{{session['orgname']}} 
    </div>
    <div class="info-box"><h1>VAT Payments</h1></div>
</div>
{% endblock %}

{% block content %}

<p></p>  

	<form class="form-inline" action="" method="post">

        <div class="form-group">
        	<label for="datepicker1">From: </label> 
            <div class='input-group date' id='datepicker1'>
                <input type='text' name='datepicker1' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        
        <div class="form-group">
        	<label for="datepicker2">&nbsp To: </label>
            <div class='input-group date' id='datepicker2'>
            	<input type='text' name='datepicker2' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        &nbsp
    	<button type="submit" class="btn btn-default">Submit</button>
	</form> 
	
	
    <p></p>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
               {% for message in messages %}
               <li> {{ message }} </li>
               {% endfor %}
            </ul>
        
        {% else %}

        <table class="table table-bordered">
            <thead>
              <tr>
                {% for i in colnames %}
                <th>{{ colnames[i] }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in my_data  %}
                  <tr>
                    {% for i in colnames %} 
                        <td>{{ row[colnames[i]] }}</td>
                    {% endfor %}
                    
                  </tr>

              {% endfor %}
             
            </tbody>
        </table>
        {% endif %}

    {% endwith %}

    <script type="text/javascript">
    $(function () {
        $('#datepicker1').datepicker({format: 'yyyy-mm-dd'});
        $('#datepicker2').datepicker({
            useCurrent: false, //Important! See issue #1075,
            format: 'yyyy-mm-dd'
        });
        $("#datepicker1").on("dp.change", function (e) {
            $('#datepicker2').data("DatePicker").minDate(e.date);
        });
        $("#datepicker2").on("dp.change", function (e) {
            $('#datepicker1').data("DatePicker").maxDate(e.date);
        });
    });
    </script>

{% endblock %}



