<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
</head>
<body>
	<h2>
		Step 1: Request Authorisation
	</h2>
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.auth_id.label }}<br>
			{{ form.auth_id(size=32, value=auth_id) }}
		</p>

		<p>{{ form.submit() }}</p>
	</form>
</body>
</html>