{% extends "layouts/main_base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
		File Upload
{% endblock %}

{% block content %}


<form method="post" action="/" enctype="multipart/form-data">
	<dl>
		<p>
			<input type="file" name="file" id="file"  autocomplete="off" required="" >
		</p>
	</dl>
	

</form>


<div class="col-xs-4">

 	<div class="form-group">

		<label class="control-label">A file upload button without icon</label>

		<input type="file" class="filestyle" data-icon="false">

	</div>

</div> 

{% endblock %}